In [4]:
import base64
import datetime
import json
import os
import numpy as np
import pandas as pd

In [5]:
local_folder = '.'
# Read the data file and take a look at the data
df = pd.read_csv('./NFHL by Tract.csv')

df.shape

(147520, 30)

In [23]:
new_df = df.copy()

# new_df = new_df.drop(columns = ["OBJECTID", "DFIRM_ID", "VERSION_ID", "V_DATUM", "GFID", "SHAPE_Length", "SHAPE_Area", "OBJECTID_2", "GEOID", "ALAND", "AWATER", "INTPTLAT", "INTPTLON", "SOURCE_CIT", "DUAL_ZONE", "DEP_REVERT","BFE_REVERT", "VEL_UNIT", "STATIC_BFE", "DEPTH", "STUDY_TYP", "FLD_AR_ID", "AR_REVERT", "AR_SUBTRV", "VELOCITY", "LEN_UNIT" ])

new_df.head()

,OBJECTID,DFIRM_ID,VERSION_ID,FLD_AR_ID,STUDY_TYP,FLD_ZONE,ZONE_SUBTY,SFHA_TF,STATIC_BFE,V_DATUM,...,GFID,SHAPE_Length,SHAPE_Area,OBJECTID_2,GEOID,NAMELSAD,ALAND,AWATER,INTPTLAT,INTPTLON
0,31722,22001C,1.1.1.0,22001C_563,NP,X,AREA OF MINIMAL FLOOD HAZARD,F,-9999.0,NaN,...,20110509LOMR,0.002779,1.789667e-07,1.0,2.200196e+10,Census Tract 9601,47243493.0,0.0,30.410129,-92.217192
1,31723,22001C,1.1.1.0,22001C_478,NP,AE,NaN,T,-9999.0,NaN,...,20110509LOMR,0.064587,4.082684e-05,1.0,2.200196e+10,Census Tract 9601,47243493.0,0.0,30.410129,-92.217192
2,31755,22001C,1.1.1.0,22001C_599,NP,AE,NaN,T,-9999.0,NaN,...,20110509LOMR,0.102957,5.973499e-05,1.0,2.200196e+10,Census Tract 9601,47243493.0,0.0,30.410129,-92.217192
3,31767,22001C,1.1.1.0,22001C_559,NP,A,NaN,T,-9999.0,NaN,...,20110509LOMR,0.154251,3.987519e-04,1.0,2.200196e+10,Census Tract 9601,47243493.0,0.0,30.410129,-92.217192
4,31786,22001C,1.1.1.0,22001C_649,NP,AE,FLOODWAY,T,-9999.0,NaN,...,20110509LOMR,0.063092,3.696726e-05,1.0,2.200196e+10,Census Tract 9601,47243493.0,0.0,30.410129,-92.217192

In [24]:
df.columns

Index(['OBJECTID', 'DFIRM_ID', 'VERSION_ID', 'FLD_AR_ID', 'STUDY_TYP',
       'FLD_ZONE', 'ZONE_SUBTY', 'SFHA_TF', 'STATIC_BFE', 'V_DATUM', 'DEPTH',
       'LEN_UNIT', 'VELOCITY', 'VEL_UNIT', 'AR_REVERT', 'AR_SUBTRV',
       'BFE_REVERT', 'DEP_REVERT', 'DUAL_ZONE', 'SOURCE_CIT', 'GFID',
       'SHAPE_Length', 'SHAPE_Area', 'OBJECTID_2', 'GEOID', 'NAMELSAD',
       'ALAND', 'AWATER', 'INTPTLAT', 'INTPTLON'],
      dtype='object')

In [25]:
new_df = new_df[["NAMELSAD", "FLD_ZONE", "ZONE_SUBTY", "SFHA_TF", "GEOID"]]
new_df.head()

,NAMELSAD,FLD_ZONE,ZONE_SUBTY,SFHA_TF,GEOID
0,Census Tract 9601,X,AREA OF MINIMAL FLOOD HAZARD,F,2.200196e+10
1,Census Tract 9601,AE,NaN,T,2.200196e+10
2,Census Tract 9601,AE,NaN,T,2.200196e+10
3,Census Tract 9601,A,NaN,T,2.200196e+10
4,Census Tract 9601,AE,FLOODWAY,T,2.200196e+10

In [26]:
new_df.shape

(147520, 5)

In [27]:
new_df["Tract"]= new_df["NAMELSAD"].str[13:]
new_df = new_df.drop(columns =["NAMELSAD"])

In [28]:
new_df.head()

  FLD_ZONE                    ZONE_SUBTY SFHA_TF         GEOID Tract
0        X  AREA OF MINIMAL FLOOD HAZARD       F  2.200196e+10  9601
1       AE                           NaN       T  2.200196e+10  9601
2       AE                           NaN       T  2.200196e+10  9601
3        A                           NaN       T  2.200196e+10  9601
4       AE                      FLOODWAY       T  2.200196e+10  9601

In [29]:
new_df.shape

(147520, 5)

In [30]:
df_clean = new_df.drop_duplicates()

In [31]:
df_clean.shape

(2759, 5)

In [32]:
df_clean.head()

  FLD_ZONE                          ZONE_SUBTY SFHA_TF         GEOID Tract
0        X        AREA OF MINIMAL FLOOD HAZARD       F  2.200196e+10  9601
1       AE                                 NaN       T  2.200196e+10  9601
3        A                                 NaN       T  2.200196e+10  9601
4       AE                            FLOODWAY       T  2.200196e+10  9601
6        X  0.2 PCT ANNUAL CHANCE FLOOD HAZARD       F  2.200196e+10  9601

In [33]:
df_clean = df_clean.reset_index(drop=True)

In [34]:
df_clean.head()

  FLD_ZONE                          ZONE_SUBTY SFHA_TF         GEOID Tract
0        X        AREA OF MINIMAL FLOOD HAZARD       F  2.200196e+10  9601
1       AE                                 NaN       T  2.200196e+10  9601
2        A                                 NaN       T  2.200196e+10  9601
3       AE                            FLOODWAY       T  2.200196e+10  9601
4        X  0.2 PCT ANNUAL CHANCE FLOOD HAZARD       F  2.200196e+10  9601

In [35]:
df_clean.shape
df_clean.dtypes

FLD_ZONE       object
ZONE_SUBTY     object
SFHA_TF        object
GEOID         float64
Tract          object
dtype: object

In [36]:
df_clean

,FLD_ZONE,ZONE_SUBTY,SFHA_TF,GEOID,Tract
0,X,AREA OF MINIMAL FLOOD HAZARD,F,2.200196e+10,9601
1,AE,NaN,T,2.200196e+10,9601
2,A,NaN,T,2.200196e+10,9601
3,AE,FLOODWAY,T,2.200196e+10,9601
4,X,0.2 PCT ANNUAL CHANCE FLOOD HAZARD,F,2.200196e+10,9601
5,A,NaN,T,2.200196e+10,9602
6,X,AREA OF MINIMAL FLOOD HAZARD,F,2.200196e+10,9602
7,AE,NaN,T,2.200196e+10,9602
8,X,0.2 PCT ANNUAL CHANCE FLOOD HAZARD,F,2.200196e+10,9602
9,AE,FLOODWAY,T,2.200196e+10,9602
10,AE,NaN,T,2.200196e+10,9603
11,AE,FLOODWAY,T,2.200196e+10,9603
12,A,NaN,T,2.200196e+10,9603
13,X,AREA OF MINIMAL FLOOD HAZARD,F,2.200196e+10,9603
14,X,0.2 PCT ANNUAL CHANCE FLOOD HAZARD,F,2.200196e+10,9603
15,A,NaN,T,2.200196e+10,9604
16,X,AREA OF MINIMAL FLOOD HAZARD,F,2.200196e+10,9604
17,X,0.2 PCT ANNUAL CHANCE FLOOD HAZARD,F,2.200196e+10,9604
18,AE,NaN,T,2.200196e+10,9604
19,AE,FLOODWAY,T,2.200196e+10,9604
20,X,0.2 PCT ANNUAL CHANCE FLOOD HAZARD,F,2.200196e+10,9605
21,A,NaN,T,2.200196e+10,9605
22,X,AREA OF MINIMAL FLOOD HAZARD,F,2.200196e+10,9605
23,AE,NaN,T,2.200196e+10,9606
24,AE,FLOODWAY,T,2.200196e+10,9606
25,X,AREA OF MINIMAL FLOOD HAZARD,F,2.200196e+10,9606
26,A,NaN,T,2.200196e+10,9606
27,X,0.2 PCT ANNUAL CHANCE FLOOD HAZARD,F,2.200196e+10,9606
28,X,AREA OF MINIMAL FLOOD HAZARD,F,2.200196e+10,9607
29,AH,NaN,T,2.200196e+10,9607
...,...,...,...,...,...
2729,X,AREA OF MINIMAL FLOOD HAZARD,F,2.212300e+10,1
2730,X,0.2 PCT ANNUAL CHANCE FLOOD HAZARD,F,2.212300e+10,1
2731,X,1 PCT DEPTH LESS THAN 1 FOOT,F,2.212300e+10,2
2732,A,NaN,T,2.212300e+10,2
2733,X,AREA OF MINIMAL FLOOD HAZARD,F,2.212300e+10,2
2734,X,0.2 PCT ANNUAL CHANCE FLOOD HAZARD,F,2.212300e+10,2
2735,X,1 PCT DEPTH LESS THAN 1 FOOT,F,2.212300e+10,3
2736,A,NaN,T,2.212300e+10,3
2737,X,AREA OF MINIMAL FLOOD HAZARD,F,2.212300e+10,3
2738,X,0.2 PCT ANNUAL CHANCE FLOOD HAZARD,F,2.212300e+10,3
2739,A,NaN,T,2.212796e+10,9601
2740,X,AREA OF MINIMAL FLOOD HAZARD,F,2.212796e+10,9601
2741,X,0.2 PCT ANNUAL CHANCE FLOOD HAZARD,F,2.212796e+10,9601
2742,AE,NaN,T,2.212796e+10,9601
2743,A,NaN,T,2.212796e+10,9602
2744,X,AREA OF MINIMAL FLOOD HAZARD,F,2.212796e+10,9602
2745,X,0.2 PCT ANNUAL CHANCE FLOOD HAZARD,F,2.212796e+10,9602
2746,AE,NaN,T,2.212796e+10,9602
2747,X,0.2 PCT ANNUAL CHANCE FLOOD HAZARD,F,2.212796e+10,9603
2748,X,AREA OF MINIMAL FLOOD HAZARD,F,2.212796e+10,9603
2749,X,AREA OF MINIMAL FLOOD HAZARD,F,2.212796e+10,9604
2750,X,AREA OF MINIMAL FLOOD HAZARD,F,2.212595e+10,9518
2751,A,NaN,T,2.211903e+10,318
2752,A,NaN,T,2.212102e+10,202
2753,X,AREA WITH REDUCED FLOOD RISK DUE TO LEVEE,F,2.212102e+10,203
2754,A,NaN,T,2.212102e+10,203
2755,AE,NaN,T,2.212102e+10,203
2756,X,AREA OF MINIMAL FLOOD HAZARD,F,2.212595e+10,9517.01
2757,X,AREA OF MINIMAL FLOOD HAZARD,F,NaN,NaN
2758,AE,NaN,T,NaN,NaN

In [37]:
# df_clean.to_csv(os.path.join(local_folder, 'nfhl_tiger.csv', dtype={'Tract': object}), index = False, header=True)
df_clean.to_pickle("./nfhl_tiger.pkl")
df_clean.to_csv('nfhl_geo.csv')

In [38]:
df_clean.head()

  FLD_ZONE                          ZONE_SUBTY SFHA_TF         GEOID Tract
0        X        AREA OF MINIMAL FLOOD HAZARD       F  2.200196e+10  9601
1       AE                                 NaN       T  2.200196e+10  9601
2        A                                 NaN       T  2.200196e+10  9601
3       AE                            FLOODWAY       T  2.200196e+10  9601
4        X  0.2 PCT ANNUAL CHANCE FLOOD HAZARD       F  2.200196e+10  9601

In [39]:
df_clean.dtypes

FLD_ZONE       object
ZONE_SUBTY     object
SFHA_TF        object
GEOID         float64
Tract          object
dtype: object